@import "variables.scss";

.darken_hover:hover {
  background-color: #cccccc !important;
}

.list_no_indent {
  list-style-position: inside;
  padding-left: 0;
}

.small_card_header {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}
